/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 91px; /*medida importante para a criação do header e da section home*/

    /*========== Colors ==========*/
    --first-color: #23A6F0;
    --second-color: #252B42;
    --third-color: #737373;
    --fourth-color: #FAFAFAFA;

    /*========== Fonts & Typography ==========*/
    /* 1rem = 16px */
    --body-font: 'Montserrat', sans-serif;

    --main-title: 40px; /*única variável que muda em detrimento da largura da tela. Vide media query logo abaixo*/

    --title-font-size: 40px;
    --biggest-font-size: 30px;
    --bigger-size: 24px;
    --big-font-size: 20px;
    --normal-font-size: 16px;
    --small-font-size: 14px;

    /*========== Font weidght ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    --font-extra-bold: 800;

    /*========== Z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
    :root{
        --main-title: 58px;
    }
}

/*=============== BASE ===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--third-color);
}

h1, h2, h3 {
    color: var(--second-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

input,
button {
    font-family: var(--body-font);
    outline: none;
    border: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1024px;
    margin-left: 24px;
    margin-right: 24px;
}

.section-title {
    text-align: center;
    color: var(--second-color);
    font-size: var(--title-font-size);
    line-height: 3.75rem;
}

.section-subtitle {
    text-align: center;
    color: var(--third-color);
    font-size: var(--small-font-size);
    line-height: 1.2rem;
}

/*=============== HEADER ===============*/


/*=============== HOME ===============*/


/*=============== FEATURES ===============*/
.feature .feature__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feature__container{
    margin: 100px 0;
    height: 100vh;
}

.feature__tittle{
    font-size: var(--title-font-size);
    text-align: center;
    color: var(--second-color);
    margin-bottom:20px;
}

.feature__description{
    font-size: var(--small-font-size);
    text-align: center;
}

.cards__container{
    width: 90%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feature__cads{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 136px;
    background: var(--fourth-color);
    border: 1px solid #EFEFEF;
    border-radius: 5px;
    margin: 20px 0;
    padding: 40px;
    cursor: pointer;
    transition: 2s;
}

.img{
    display: none;
}

.feature__icon{
    font-size: 50px;
    color: var(--first-color);
    margin-bottom: 10px;
}

.select__feature{
    background: var(--first-color);
    color: #fff;
    transition: 1s;
}

.select__feature i{

    color: #fff;
}

.select__icon{
}




/*=============== TESTIMONIALS ===============*/
/*=============== CONTENT ===============*/


/*=============== PRICING ===============*/


/*=============== CONTACT ===============*/


/*=============== FOOTER ===============*/
.footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.footer__description{
    margin: 30px 0;
}

.footer__tetle{
    color: var(--second-color);
    font-weight: var(--font-bold);
    font-size: var(--title-font-size);
    margin-bottom: 10px;
}

.footer__icon{
    margin: 20px 0;
}

.icon{
    font-size: 24px;
    color: var(--first-color);
}

.footer__list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}



.list__item{
    margin-bottom: 10px;
}

/*breackpoint*/
@media screen and (min-width: 860px) {

    .featur{
        width: 100%;
    }

    .select__feature{
        margin: 0 auto;
    }

    .cards__container{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .img{
        display: inline-block;
        color: #fff;
    }

    .select__feature img{
          filter: brightness(100);
    }

    .feature__icon{
        display: none;
    }

    .footer{
       display: grid;
       grid-template-columns: repeat(4, 1fr);
       gap: 5px;
       padding: 20px;
       justify-items: center;
       align-items: center;

    }

}
